@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-body: var(--font-roboto-condensed);
  --font-heading: var(--font-montserrat);
  --font-heading-2: var(--font-luckiest-guy);
  --color-primary: var(--primary);
  --color-dark-primary: var(--dark-primary);
  --color-secondary: var(--secondary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F5F0FA;
    --foreground: #0a0a0a;
    --primary: #5B2D8B;
    --dark-primary: #2A0E44;
    --secondary: #F5C400;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1,h2,h3,h4,h5{
  @apply font-heading font-black
}

p,label,input{
  @apply font-body
}
